astroid==3.3.8
cloudpickle==3.1.1
colorama==0.4.6
Cython==3.0.12
dill==0.3.9
Farama-Notifications==0.0.4
gymnasium==1.1.0
isort==6.0.0
mccabe==0.7.0
numpy==2.2.3
platformdirs==4.3.6
pylint==3.3.4
setuptools==75.8.0
tomlkit==0.13.2
typing_extensions==4.12.2
